<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web 3 Final</title>

    <!-- Vue CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <!-- Source Cloud Firestore from the Google CDN -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="firebase.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="feed-page">
      <v-app>
        <!-- Must have the app property -->
        <v-app-bar app id="feed-bar">
          <v-spacer> </v-spacer>
          <v-toolbar-title><h3 class="header-title">Still Thinking</h3></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
          color="white"
          text
          @click="logout()"
          >
          <v-icon style="color: #F46036;">
            mdi-logout
          </v-icon>
          </v-btn>      
        </v-app-bar>
        
        
          <v-bottom-navigation app id="feed-nav"
          >    
            <v-btn href="direct-messages.html">
        
              <v-icon style="color: #F1F2EB;">mdi-inbox</v-icon>
            </v-btn>

            <v-btn href="feed.html" class="rounded-50">
              <v-icon style="color: #508AA8;">mdi-home</v-icon>
            </v-btn>

            <v-btn href="my-profile.html">
              
              <v-icon style="color: #F1F2EB;">mdi-account</v-icon>
            </v-btn>
            
          </v-bottom-navigation>
          


        <v-main class="uni-bkg">
          <v-container   class="pa-0 mt-1 overflow-hidden">
          <v-row>
              <v-col sm="6" md="6">
                      <v-dialog
                        transition="dialog-bottom-transition"
                        max-width="600"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                          class="mb-5"
                          style="background-color: #F46036;"
                                
                                small
                                fixed
                                bottom
                                right
                                fab
                                @click="dialog = !dialog"
                                v-bind="attrs"
                            v-on="on"
                              >
                                <v-icon  style="color: #252627;">mdi-plus</v-icon>
                              </v-btn>
                        </template>
                        <template v-slot:default="dialog">
                          <v-card style="background-color: #F1F2EB;">
                            
                            <v-toolbar style="background-color: #515052;">
                              <h3 class="text-center" style="color: #F1F2EB;">What's Your Idea?</h3>
                            </v-toolbar>
                            <v-card-text class="pa-4 pb-1 pt-2">
                              <v-form>
                                <v-text-field
                                            type="text"
                                            placeholder="Caption"
                                            v-model="posts.caption"
                                          ></v-text-field>
                              </v-form>
                            </v-card-text>
                            <v-card-actions class="pa-4 pt-1">
                              <v-btn @click="newPost()"> 
                                <v-icon> mdi-send </v-icon>
                                <p class="ma-0 pl-2">Post</p>
                              </v-btn>
                              <v-spacer>
                                
                              </v-spacer>
                              <v-btn
                                
                                @click="dialog.value = false"
                              >
                              <v-icon>mdi-close-circle</v-icon>
                              <p class="ma-0 pl-2">Close</p></v-btn>
                            </v-card-actions>
                          </v-card>
                        </template>
                      </v-dialog>
              </v-col>
            </v-row>  
            <v-row
              no-gutters
              justify="space-around"
              class="flex-column align-center"
            >
              <v-col v-for="posts in posts" :key="posts.id" sm="6" md="4">
                <v-card elevation="0" class="rounded-0 mb-1" >
                  <div class="pa-5 card-styles">
                    <div class="d-flex flex-no-wrap pb-2">
                      
                      <v-avatar :style="'background:' + avatar" size="26" class="mr-1"></v-avatar>
                      
                      <h3 class="ml-1">{{posts.username}}</h3>
                    </div>
                    <div>
                      <v-card-title class="pa-0 pb-1">
                        <p class="ma-0 ">{{posts.caption}}</p>
                      </v-card-title>
                    </div>
                    <div>
                      <v-card-actions class="pa-0 pt-1">
                        
                         <v-btn @click="likePost(posts)" class="ma-0 pa-0" icon >
                          <v-icon v-if="postStatus(posts)" style="color: #508AA8;">
                            mdi-heart
                          </v-icon>
                          <v-icon v-else style="color: #508AA8;"> 
                            mdi-heart-outline
                          </v-icon> 
                        </v-btn> 
                        <span class="subheading mr-2" style="color:#242424">{{posts.likesNum}}</span>
                        <v-dialog
                        fullscreen
                        hide-overlay
                        transition="dialog-bottom-transition"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                          disabled
                          icon
                                @click="addCmt = !addCmt"
                                v-bind="attrs"
                            v-on="on"
                              >
                                <v-icon  style="color: #252627;">mdi-comment-outline</v-icon>
                              </v-btn>
                        </template>
                        <template v-slot:default="addCmt">
                          <v-card style="background-color: #F1F2EB;">
                            
                            <v-toolbar style="background-color: #515052;">
                              <v-btn
                                icon
                                @click="addCmt.value = false"
                              >
                              <v-icon style="color: #F1F2EB;">mdi-chevron-left</v-icon>
                              </v-btn>
                              <v-spacer></v-spacer>
                              <h3 class="text-center" style="color: #F1F2EB;">Comment</h3>
                            </v-toolbar>
                            <v-card-text>
                              <v-container>
                                <v-row>
                                  <template v-for="(comment, index) in comments">
                                    <v-card elevation="0" >
                                      <div class="card-styles"> 
                                        <v-list-item :key="item.id">
                                          
                                            <v-list-item-content class="pl-2">
                                              <v-list-item-title
                                                v-text="comment.username"
                                              ></v-list-item-title>
                    
                                              <v-list-item-subtitle
                                                v-text="comment.content"
                                              ></v-list-item-subtitle>
                                            </v-list-item-content>
                                          
                                        </v-list-item>
                                      </div>
                                      <v-divider
                                       ></v-divider>
                                    </v-card>
                                    
                                  </template>
                                  <!-- <v-col v-for="(comment, index) in postComments">
                                    
                                    <v-list>
                                      <v-list-item :key="comment.list" >
                                        <v-list-item-content>
                                          <v-list-item-subtitle>{{comment.username}}</v-list-item-subtitle>
                                          <v-list-item-title>{{comment.commentText}}</v-list-item-title>
                                        </v-list-item-content>
                                      </v-list-item>
                                    </v-list>
                                  </v-col> -->
                                </v-row>
                              </v-container>
                            </v-card-text>
                            <v-bottom-navigation app height="auto">
                              <v-container class="d-flex align-self-end">
                                <v-row justify="center" class="flex-row align-center">
                                  <v-col sm="6" md="6" class="align-self-end">
                                    <v-form>
                                      <v-text-field
                                      type="text"
                                      placeholder="Comment"
                                      v-model="content"
                                      ></v-text-field>
                                    </v-form>
                                  </v-col>
                                  <v-btn text @click="addComment(data)">
                                    <v-icon> mdi-send </v-icon>
                                  </v-btn>
                                </v-row>
                              </v-container>
                            </v-bottom-navigation>
                          </v-card>
                        </template>
                      </v-dialog>
                        <!-- <v-dialog
                          v-model="addCmt"
                          fullscreen
                          hide-overlay
                          transition="dialog-bottom-transition"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn 
                            @click="addCmt = !addCmt"
                            v-bind="attrs"
                            v-on="on" icon>
                              <v-icon>mdi-comment-outline</v-icon>
                            </v-btn>
                          </template>
                          <template v-slot:default="addCmt">
                            <v-card style="background-color: #F1F2EB;">
                              <v-toolbar
                              style="background-color: #515052;"
                                dark
                              >
                                <v-btn
                                  icon
                                  @click="addCmt.value = false"
                                  ><v-icon>mdi-chevron-left</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <h3 class="text-center" style="color: #F1F2EB;">Add A Comment</h3>
                              </v-toolbar>
                                <v-container>
                                  <v-row>
                                    <v-col>
                                      <v-list>
                                        <v-list-item v-for="(comment, index) in comments" :key="comment.list">
                                          <v-list-item-content>
                                            <v-list-item-subtitle>{{comment.username}}</v-list-item-subtitle>
                                            <v-list-item-title>{{comment.commentText}}</v-list-item-title>
                                          </v-list-item-content>
                                        </v-list-item>
                                      </v-list>
                                    </v-col>
                                  </v-row>
                                </v-container>
                                <v-bottom-navigation app height="auto">
                                  <v-container class="d-flex align-self-end">
                                    <v-row justify="center" class="flex-row align-center">
                                      <v-col sm="6" md="6" class="align-self-end">
                                        <v-form>
                                          <v-text-field
                                          type="text"
                                          placeholder="Comment"
                                          v-model="commentText"
                                          ></v-text-field>
                                        </v-form>
                                      </v-col>
                                      <v-btn text @click="addComment(data)">
                                        <v-icon> mdi-send </v-icon>
                                      </v-btn>
                                    </v-row>
                                  </v-container>
                                </v-bottom-navigation>
                            </v-card>
                          </template>
                        </v-dialog> -->
                      </v-card-actions>
                        
                        
                      
                    </div>
                    <div class="d-flex flex-row pt-2">
                      <p class="mb-0 pr-2">{{posts.createdDate}}</p>
                      <p class="mb-0 pl-2">{{posts.createdTime}}</p>
                    </div>
                  </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
            
          </v-container>
          
        </v-main>
        
      </v-app>
    </div>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- My JS -->
    <script src="script.js"></script>
  </body>
</html>


