<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web 3 Final</title>

    <!-- Vue CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <!-- Source Cloud Firestore from the Google CDN -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="firebase.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="feed-page">
      <v-app>
        <!-- Must have the app property -->
        <v-app-bar app id="feed-bar">
          <v-btn
          color="white"
          text
          @click="logout()"
          >
          <v-icon style="color: #F46036;">
            mdi-logout
          </v-icon>
          </v-btn>
          <v-spacer> </v-spacer>
          <v-toolbar-title><h3 class="header-title">Still Thinking</h3></v-toolbar-title>
          <v-spacer></v-spacer>         
        </v-app-bar>
        
        
          <v-bottom-navigation app id="feed-nav"
          >    
            <v-btn href="direct-messages.html">
        
              <v-icon style="color: #F1F2EB;">mdi-inbox</v-icon>
            </v-btn>

            <v-btn href="feed.html" class="rounded-50">
              <v-icon style="color: #F46036;">mdi-home</v-icon>
            </v-btn>

            <v-btn href="my-profile.html">
              
              <v-icon style="color: #F1F2EB;">mdi-account</v-icon>
            </v-btn>
            
          </v-bottom-navigation>
          


        <v-main class="uni-bkg">
          <v-container   class="pa-0 mt-1 overflow-hidden">
          <v-row>
              <v-col sm="6" md="6">
                      <v-dialog
                        transition="dialog-bottom-transition"
                        max-width="600"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                          class="mb-5"
                          style="background-color: #F46036;"
                                
                                small
                                fixed
                                bottom
                                right
                                fab
                                @click="dialog = !dialog"
                                v-bind="attrs"
                            v-on="on"
                              >
                                <v-icon  style="color: #252627;">mdi-plus</v-icon>
                              </v-btn>
                        </template>
                        <template v-slot:default="dialog">
                          <v-card style="background-color: #F1F2EB;">
                            
                            <v-toolbar style="background-color: #515052;">
                              <h3 class="text-center" style="color: #F1F2EB;">What's Your Idea?</h3>
                            </v-toolbar>
                            <v-card-text class="pa-4 pb-1 pt-2">
                              <v-form>
                                <v-text-field
                                            type="text"
                                            placeholder="Caption"
                                            v-model="posts.caption"
                                          ></v-text-field>
                              </v-form>
                            </v-card-text>
                            <v-card-actions class="pa-4 pt-1">
                              <v-btn @click="newPost()">
                                <v-icon> mdi-send </v-icon>
                                <p class="ma-0 pl-2">Post</p>
                              </v-btn>
                              <v-spacer>
                                
                              </v-spacer>
                              <v-btn
                                
                                @click="dialog.value = false"
                              >
                              <v-icon>mdi-close-circle</v-icon>
                              <p class="ma-0 pl-2">Close</p></v-btn>
                            </v-card-actions>
                          </v-card>
                        </template>
                      </v-dialog>
              </v-col>
            </v-row>  
            <v-row
              no-gutters
              justify="space-around"
              class="flex-column align-center"
            >
              <v-col v-for="posts in posts" :key="posts.id" sm="6" md="4" >
                <v-card elevation="0" class="rounded-0 mb-1" >
                  <div class="pa-5 card-styles">
                    <div class="d-flex flex-no-wrap pb-2">
                      
                      <v-avatar :style="'background:' + avatar" size="26" class="mr-1"></v-avatar>
                      
                      <h3 class="ml-1">{{posts.username}}</h3>
                    </div>
                    <div>
                      <v-card-title class="pa-0 pb-1">
                        <p class="ma-0 ">{{posts.caption}}</p>
                      </v-card-title>
                    </div>
                    <div>
                      <v-card-actions class="pa-0 pt-1">
                        <v-btn icon class="ma-0 pa-0" @click="likePost(posts.id)">
                          <v-icon> <!-- mdi-heart --> {{likeIcon}}</v-icon>
                        </v-btn>
                        
                        <!-- <v-btn icon class="ma-0 pa-0">
                          <v-icon> mdi-repeat-variant </v-icon>
                        </v-btn> -->
                        <!-- <v-btn icon class="ma-0 pa-0">
                          <v-icon> mdi-chat </v-icon>
                        </v-btn> -->
                      </v-card-actions>
                    </div>
                   <!--  <div>
                      <v-btn text class="pa-0">
                        <p class="mb-0 pt-1">View All Comments</p>
                      </v-btn>
                    </div> -->
                    <div class="d-flex flex-row">
                      <p class="mb-0 pr-2">{{posts.createdDate}}</p>
                      <p class="mb-0 pl-2">{{posts.createdTime}}</p>
                    </div>
                  </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
          
        </v-main>
        
      </v-app>
    </div>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- My JS -->
    <script src="script.js"></script>
  </body>
</html>
