<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>

    <!-- Vue CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <!-- Source Cloud Firestore from the Google CDN -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="firebase.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="profile-page">
      <v-app>
        <!-- Must have the app property -->
        <v-app-bar app id="feed-bar">
    
          <v-spacer> </v-spacer>
          <v-toolbar-title class="header-title">{{user_name}}</v-toolbar-title>
          <v-spacer></v-spacer>
  
        </v-app-bar>
    
        <v-bottom-navigation app id="feed-nav" 
        >    
          <v-btn href="direct-messages.html">
      
            <v-icon style="color: #F1F2EB;">mdi-inbox</v-icon>
          </v-btn>

          <v-btn href="feed.html" class="rounded-50">
            <v-icon style="color: #F1F2EB;" >mdi-home</v-icon>
          </v-btn>

          <v-btn href="my-profile.html">
            
            <v-icon style="color: #F46036;">mdi-account</v-icon>
          </v-btn>
          
        </v-bottom-navigation>

        <v-main class="uni-bkg">
        <v-container class="pa-0 overflow-hidden">
          <v-row no-gutters justify="center">
            <v-col sm="6" md="6" class="pa-0">
                  <v-row
                    no-gutters
                    justify="center"
                    class="align-center text-center flex-row"
                  >
                    <div class="pa-5 pb-3">
                      <p class="ma-0">7</p>
                      <p class="ma-0">Ideas</p> </div
                    >
                    <div class="pa-5 pb-3">
                      <p class="ma-0">3</p>
                      <p class="ma-0">Reposts</p>
                    </div>
                  </v-row>
                  <v-row no-gutters justify="center" class="align-center">
                    <v-col cols="12" class="pa-5 pt-0 pb-0">
                      <v-card-title class="black--text pa-0">
                        <v-avatar size="56" :style="'background:' + avatar">
                        </v-avatar>
                        <v-col class="pa-0 pl-3 d-inline">
                          <p class="ma-0 pa-0">{{first}} {{last}}</p>
                          <v-card-subtitle class="pa-0">
                            <p class="ma-0">
                              {{bio}}
                            </p>
                          </v-card-subtitle>
                        </v-col>
                      </v-card-title>
                    </v-col>
                  </v-row>
                  <v-row no-gutters justify="center" class="align-center">
                    <v-col class="pt-3 pb-3 pl-5 pr-5">
                      <div>
                        <template>
                          <div class="text-center">
                            <v-dialog
                              v-model="dialog"
                              width="500"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  block
                                  v-bind="attrs"
                                  v-on="on"
                                >
                                <v-icon> mdi-account-edit </v-icon>
                                <p class="ma-0 pl-2">Edit Profile</p>
                                </v-btn>
                              </template>
                        
                              <v-card>
                                <v-card-title class="text-h5 grey lighten-2">
                                  Edit Profile
                                </v-card-title>
                        
                                <v-col>
                                  <v-text-field
                                    id="first"
                                    type="text"
                                    v-model="first"
                                    placeholder="Firstname"
                                    required
                                    outlined
                                  ></v-text-field>
                                </v-col>
                                <v-col>
                                  <v-text-field
                                    id="last"
                                    type="text"
                                    v-model="last"
                                    placeholder="Lastname"
                                    required
                                    outlined
                                  ></v-text-field>
                                </v-col>
                                <v-col>
                                  <v-text-field
                                    id="bio"
                                    type="text"
                                    v-model="bio"
                                    placeholder="Bio"
                                    outlined
                                  ></v-text-field>
                                </v-col>
                                <v-divider></v-divider>
                        
                                <v-card-actions>
                                  <v-btn
                                    color="primary"
                                    text
                                    @click="dialog = false"
                                  >
                                  <p>Cancel</p>
                                  </v-btn>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="primary"
                                    text
                                    @click="saveProfile()"
                                  >
                                  <p>Save Changes</p>
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </div>
                        </template>
                      </div>
                    </v-col>
                  </v-row>
            </v-col>
          </v-row>
        </v-container>
          <v-container class="pa-0">
            <v-row
              no-gutters
              justify="space-around"
              class="flex-column align-center"
            >
              
          

            <v-col v-for="posts in posts" :key="posts.id" sm="6" md="4" >
              <v-card elevation="0" class="rounded-0 mb-1" >
                <div class="pa-5 card-styles">
                  <div class="d-flex flex-no-wrap pb-2">
                    <v-avatar color="#8EA7A7" size="26" class="mr-1"></v-avatar>
                    <h3 class="ml-1">{{posts.username}}</h3>
                  </div>
                  <div>
                    <v-card-title class="pa-0 pb-1">
                      <p class="ma-0 ">{{posts.caption}}</p>
                    </v-card-title>
                  </div>
                  <div>
                    <v-card-actions class="pa-0 pt-1">
                      <v-btn icon class="ma-0 pa-0" @click="likePost(posts.id)">
                        <v-icon> mdi-heart</v-icon>
                      </v-btn>
                      
                      <!-- <v-btn icon class="ma-0 pa-0">
                        <v-icon> mdi-repeat-variant </v-icon>
                      </v-btn> -->
                      <!-- <v-btn icon class="ma-0 pa-0">
                        <v-icon> mdi-chat </v-icon>
                      </v-btn> -->
                    </v-card-actions>
                  </div>
                 <!--  <div>
                    <v-btn text class="pa-0">
                      <p class="mb-0 pt-1">View All Comments</p>
                    </v-btn>
                  </div> -->
                  <div class="d-flex flex-row">
                    <p class="mb-0 pr-2">{{posts.createdDate}}</p>
                    <p class="mb-0 pl-2">{{posts.createdTime}}</p>
                  </div>
                </div>
                </div>
              </v-card>
            </v-col>
            </v-row>
          </v-container>
          
        </v-main>
        
      </v-app>
    </div>
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- My JS -->
    <script>
      var profileHeader = new Vue({
  el: "#profile-page",
  vuetify: new Vuetify(),
  data: function () {
    return {
      dialog: false,
      first: "",
      last: "",
      bio: "",
      avatar: "",
      user_name: localStorage.getItem("user"),
      posts: [],
    };
  },
  methods: {
    profileInfo () {
      var docRef = db.collection("users").doc(localStorage.getItem('user'));
        docRef.get().then((doc) => {
            this.avatar = doc.data().avatarColor,
            this.first = doc.data().first,
            this.last = doc.data().last,
            this.bio = doc.data().bio
        })
    },
    getUserPosts(){
        db.collection("posts").where("username", "==", localStorage.getItem('user'))
          .onSnapshot((querySnapshot) => {
            this.posts = []
            querySnapshot.forEach((doc) =>
            this.posts.push({
              id: doc.id,

              caption: doc.data().caption,
              likes: doc.data().likes,
              timestamp: doc.data().timestamp,
              createdDate: doc.data().timestamp.toDate().toLocaleDateString(),
              createdTime: doc.data().timestamp.toDate().toLocaleTimeString(),
              username: doc.data().username,
            }))
          })    
      },
    saveProfile() {
      const userRef = db
              .collection("users")
              .doc(localStorage.getItem("user"));

            userRef
              .update({
                first: document.getElementById("first").value,
                last: document.getElementById("last").value,
                bio: document.getElementById("bio").value,
              })
              .then(() => {
                console.log("Document successfully written!");
                dialog = false;
              })
              .catch((error) => {
                console.error("Error writing document: ", error);
              });
    },
  },
  mounted() {
    this.getUserPosts();
    this.profileInfo();
  },
});
    </script>
  </body>
</html>
