.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}

.v-toolbar_title {
  color: #F3ECDA;
}

#feed-bar {
  background-color: #515052;
}
.header-title {
  color: #F1F2EB;
  text-align: center;
}
#feed-nav {
  background-color: #515052;
}
.uni-bkg {
  background-color: #252627;
}
.card-styles {
background-color: #F1F2EB;
color: #121212;
}

#btn-icon {
  color: #121212;
}

.v-input__append-inner {
  padding: 0;
  margin: 0;
}

.create-link {
  text-decoration: none;
  margin-top: 1rem;
}

