body {
  background-image: url("imgs/background.png");
  background-color: #002947;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: scroll;
}

.header-container {
  /* background-color: #fff2ce; */
  background-color: #feb938;
  padding: 2rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(2px);
}

.header-title {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title {
  margin-bottom: 1rem;
  color: #002947;
}

#item_input {
  width: 100%;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff2ce;
  color: #002947;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 15px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#item_input:focus {
  background-color: #fff2ce;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.05);
}

#add_new_task {
  background-color: #002947;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff2ce;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 15px;
  border-radius: 50px;
}
#add_new_task:hover {
  background-color: #6abccf;
}
#add_new_task:focus {
  background-color: #6abccf;
}

.card {
  margin: 1rem;
  border: none;
  /*   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.2s ease-in-out;
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.4s ease;
}
.card-header {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  color: #002947;
  background-color: #fff2ce;
}

.card-body {
  background-color: #002947;
}

.notes-ul {
  margin-bottom: 0;
  margin-top: 15px;
}

.notes-li {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff2ce;
  list-style: disc;
}

.edit-note {
  background-color: #002947;
  border: none;
  color: #fff2ce;
}
.edit-note:focus {
  outline: none;
  color: #fff2ce;
}

.note-input {
  background-color: #fff2ce;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #002947;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}

.note-input:focus {
  outline: none;
}

.note-btn {
  margin: 5px;
  background-color: #fd9414;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #002947;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
}
.note-btn:hover {
  background-color: #feb938;
}
.note-btn:focus {
  background-color: #feb938;
  outline: none;
}

.notes {
  background-color: #002947;
}

.card-footer {
  display: flex;
  justify-content: center;
  background-color: #fff2ce;
}

.checked.card.card-body {
  background-color: green;
}

#add_new_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.status-active {
  background-color: #fff2ce;
}

.status-completed {
  background-color: rgba(47, 194, 47, 0.7);
}

.card-complete {
  background-color: rgb(93, 155, 93);
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff2ce;
  margin: 0.5rem;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
}
.card-complete:hover {
  background-color: rgb(18, 174, 18);
}
.card-complete:focus {
  outline: none;
  background-color: rgb(18, 174, 18);
}
.card-delete {
  background-color: rgb(169, 76, 76);
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff2ce;
  margin: 0.5rem;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
}
.card-delete:hover {
  background-color: rgb(211, 22, 22);
}
.card-delete:focus {
  outline: none;
  background-color: rgb(211, 22, 22);
}

footer {
  background-color: #002947;
  color: #fff2ce;
  padding: 2rem;
  box-shadow: 0 50vh 0 50vh #002947;
}
footer p {
  margin: 0;
  text-align: center;
}
.footer-btn {
  background-color: #fd9414;
  color: #002947;
}
