body {
  background-color: rgb(0, 0, 0);
}

header {
  margin: 2rem;
}

.title {
  margin-bottom: 1rem;
  color: white;
}

#item_input {
  width: 100%;
  padding: 6px;
}

.card {
  margin: 1rem;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.checked {
  background-color: green;
}

#add_new_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.status-active {
  background-color: rgb(255, 255, 255);
}

.status-completed {
  background-color: forestgreen;
}

.card-complete {
  background-color: rgb(8, 77, 8);
  color: white;
  margin: 0.5rem;
}
.card-delete {
  background-color: rgb(82, 0, 0);
  color: white;
  margin: 0.5rem;
}
