.note-input {
  margin: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.save-task {
  background-color: rgb(40, 40, 102);
  color: white;
  margin-top: 1rem;
}
.card {
  margin-top: 1rem;
  border-bottom: 1rem;
}
label {
  color: rgb(40, 40, 102);
}
.form-control {
  border: 1px solid rgba(40, 40, 102, 0.296);
  color: rgb(40, 40, 102);
}
.form-control:focus {
  border: 1px solid rgb(40, 40, 102);
  outline: none;
  box-shadow: none;
}
.input-style {
  border: none;
  border-bottom: 1px solid rgba(40, 40, 102, 0.296);
  border-radius: 0;
  background: none;
  transition: all 0.5s ease-in-out;
  color: rgb(40, 40, 102);
}
.input-style:focus {
  border-radius: 50px;
  border: 1px solid rgba(40, 40, 102, 0.296);
}
.task-notes {
  margin-top: 1rem;
}
